<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mahinay_Login_App.Properties.Settings.db_loginConnectionString"
            connectionString="Data Source=DESKTOP-14J426P\SQLEXPRESS;Initial Catalog=db_login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>